# SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
js/
/css
.code-workspace
.DS_Store
.idea/
.vscode/
.vscode-upload.json
.*.sw*
node_modules
.php*.cache

/vendor/
/tests/.phpunit*cache
